#####################################
# Basic Printer Config
#####################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1AA00007090139AF15350B5DC02000F5-if00

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 25
max_z_accel: 100

#####################################
# Steppers
#####################################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28 # x-max
position_endstop: 225
position_max: 225
homing_speed: 80
[tmc2209 stepper_x]
uart_pin: P1.17
interpolate: true
run_current: 0.760
hold_current: 0.600
# sense_resistor: 0.110
# stealthchop_threshold: 500
# driver_sgt: 0 # Tuning value for sensorless homing

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.26 # y-max
position_endstop: 225
position_max: 225
homing_speed: 80
[tmc2209 stepper_y]
uart_pin: P1.15
interpolate: true
run_current: 0.900
hold_current: 0.600
# sense_resistor: 0.110
# stealthchop_threshold: 500
# driver_sgt: 0 # Tuning value for sensorless homing

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 500
position_min: -6                        # Needed for running probe calibration
homing_speed: 50
second_homing_speed: 1.0
homing_retract_dist: 2
[tmc2209 stepper_z]
uart_pin: P1.10
interpolate: true
run_current: 0.760
hold_current: 0.600
# sense_resistor: 0.110
# stealthchop_threshold: 500
# driver_sgt: 0 # Tuning value for sensorless homing

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 22.454
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_kp: 26.057
pid_ki: 1.316
pid_kd: 128.982
min_extrude_temp: 5
min_temp: 5
max_temp: 265
[tmc2209 extruder]
uart_pin: P1.8
interpolate: true
run_current: 0.900
hold_current: 0.600
stealthchop_threshold: 0

# [extruder1]
# step_pin: P0.1
# dir_pin: P0.0
# enable_pin: !P0.10
# microsteps: 16
# rotation_distance: 33.500
# [tmc2209 extruder1]
# uart_pin: P1.1
# interpolate: true
# run_current: 0.900
# hold_current: 0.600
# stealthchop_threshold: 0

#####################################
# BLTouch
#####################################

[bltouch]
sensor_pin: ^P1.25   # Pull-up (^ symbol) needed in open drain mode
control_pin: P2.0
x_offset: -42
y_offset: -6
z_offset: 4.5       # Used PROBE_CALIBRATE and paper test to derive
speed: 3.0
samples: 2
probe_with_touch_mode: true
stow_on_each_sample: false
set_output_mode: 5V
sample_retract_dist: 2
# samples_tolerance: 0.01
# samples_result: average
# samples_tolerance_retries: 5

# Move to a safe probing point without crashing into anything
[safe_z_home]
home_xy_position: 150,110    # Move to center of bed (minus probe offset)
speed: 80
z_hop: 12                    # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 8      # Height of toolhead between samples
mesh_min: 10, 10          # Beggining of bed plus some margin for bed clips
mesh_max: 183,219         # End of bed - probe offset (225 - 63),(225 - 6)
probe_count: 3,3
mesh_pps: 2,2             #  Interpolated samples
# algorithm: bicubic        # For 3x3 probing, lagrange algorithm is used
# bicubic_tension: 0.2      # Rate of curvature interpolated between points

####################################
# Heater Bed
####################################

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

####################################
# Fans
####################################

# Extruder Fan
[heater_fan e0_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

# Part cooling fan
[fan]
pin: P2.3

#####################################
# EXP1 / EXP2 (display) pins
#####################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

#####################################
# Display
#####################################

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

#####################################
# Macros
#####################################

[gcode_macro G29]
gcode:
  M117 Starting bed leveling now.
  G28
  M117 Deleting Old Profile, ENDER5
  BED_MESH_PROFILE REMOVE=ENDER5
  BED_MESH_CALIBRATE
  M117 Saving new profile, ENDER5
  BED_MESH_PROFILE SAVE=ENDER5
  M117 Saving config now. Will restart klipper.
  SAVE_CONFIG
# Add "BED_MESH_PROFILE LOAD=ENDER5" to cura or other slicer before print

#####################################
# Other
#####################################

# [gcode_arcs]
# resolution: 0.05

[output_pin beeper]
pin: EXP1_1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.242500, 0.363750, 0.326250
#*# 	  -0.107500, -0.002500, -0.073750
#*# 	  -0.011250, 0.016250, -0.061250
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 3
#*# max_y = 219.0
#*# mesh_x_pps = 2
#*# max_x = 183.0
#*#
#*# [bed_mesh ENDER5]
#*# version = 1
#*# points =
#*# 	  0.242500, 0.363750, 0.326250
#*# 	  -0.107500, -0.002500, -0.073750
#*# 	  -0.011250, 0.016250, -0.061250
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 3
#*# max_y = 219.0
#*# mesh_x_pps = 2
#*# max_x = 183.0
